@use 'sass:map';
@use '@angular/material' as mat;
@import 'breakpoints';

@include mat.core();

$background: #303030;
$foreground: #424242;
$primary: rgb(123, 31, 162);

@mixin flexCenter($direction: 'row') {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin card($radius) {
  background: $foreground;
  border-radius: $radius;
  @include mat.elevation(2);
}

@mixin horizontalPadding {
  padding: 0 20px;

  @include media('>=desktop') {
    padding: 0 50px;
  }
}
